.CategoryList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid pink;
    margin: 1%;
    background-color: gray;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button.selected {
    background-color: black;
    color: pink;
}

span {
    background-color: pink;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-left: 2.5%;
    color: black;
    font-size: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}